/* body{
    background-color: green;
}
p{
   background-color: #ff0000;
}

div{
    background-color: rgb(186, 19, 44);
} */
.caja1{
    width: 150px;
    height: 150px;
    background-color: rgb(89, 17, 16);
}

.caja2{
    width: 250px;
    height: 250px;
    background-color: #FFA500;
}

.caja3{
    width: 350px;
    height: 350px;
    background-color: hsl(30, 100%, 50%);
}