/* body{
    background-color: green;
}
p{
   background-color: #ff0000;
}

div{
    background-color: rgb(186, 19, 44);
} */
.caja1 {
    width: 150px;
    height: 150px;
    background-color: rgb(89, 17, 16);
}

/* .caja2 {
    width: 50px;
    height: 50px;
    background-color: #FFA500;
}

.caja3 {
    width: 50px;
    height: 50px;
    background-color: hsl(30, 100%, 50%);
} */


#foo {
    color: orange;
}

a[title] {
    color: green;
}

button:hover {
    background-color: aquamarine;
}

input:disabled {
    border: 2px solid orange;
}